/* Basic setup */
html{
  font-size: 16px;
  border-color: lightgray;
}
h1, h2, h3{
  font-weight: bold;
}
h1{
  font-size: 2.5rem;
  margin: 1rem 0;
}
h2{
  font-size: 2rem;
  margin: 2rem 0 1.5rem 0;
}
h3{
  font-size: 1.75rem;
  margin: 0.25rem 0;
}
.secondary, .secondary-hover:hover{
  background-color: lightgray;
}

.flex, .flex-align-center, .flex-column-space-between, .flex-column{
  display: flex;
}
.flex-align-center{
  align-items: center;
}
.flex-column-space-between, .flex-column{
  flex-direction: column;
}
.flex-column-space-between{
  justify-content: space-between;
}

/* Header */
.top-bar{
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  min-height: 4rem;
  align-items: center;
}
.logo{
  height: 2rem;
}
.main-menu a{
  margin: 0 0.5rem;
  text-decoration: none;
  color: #000000;
}
.main-menu a:last-child{
  margin-right: 0;
}

/* Main area */

.featured{
  margin: 2rem 1.5rem;
  width: 60%;
}
main section:nth-child(2n+1){
  background-color: lightgray;
}

/* Call to action */
.cta div{
  width: 25%;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.cta div p, .cta .button{
  margin: 0.7rem 0;
}
.cta .button{
  text-decoration: none;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 0.5rem 0;
}

/* Information */
.main-info{
  margin-bottom: 2rem;
}
.main-info article.featured p.quote-author{
  font-size: 0.9rem;
  margin-top: 1rem;
}
.main-info article.featured img{
  width: 100%;
}
section.items{
  width: 40%;
  margin: 1rem 0;
  border-left: solid 1px lightgray;
}
article.item{
  padding: 1rem;
}
.main-info article.item:nth-child(2n+0){
  border-top: double 0.2rem lightgray;
  border-bottom: double 0.2rem lightgray;
}
article.item img.desktop{
  max-width: 35%;
  height: auto;
  margin-right: 1rem;
}
article.item p, article.item a{
  text-decoration: none;
  margin: 0.25rem 0;
}
/* Courses */
.courses{
  padding: 2rem 0;
}
.courses h2{
  text-align: center;
  margin: 0 auto;
}
.course-list{
  margin: 2rem 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.course{
  margin: 2rem;
  max-width: 25%;
  background-color: #ffffff;
  padding-bottom: 2.5rem;
}
.course img{
  width: 100%;
}
.course h3{
  margin: 1rem 1.5rem;
}
.course p{
  margin: 0.5rem 1.5rem;
  font-size: 1.5rem;
}
/* Thesis */
.thesis{
  padding-bottom: 2rem;
}
.thesis h2{
  text-align: center;
  margin-bottom: 0;
}

.thesis video{
  width: 100%;
}
.thesis .featured h3{
  margin: 1.5rem 0 0.5rem 0;
}
.thesis .items{
  border: none 0;
  margin-top: 2rem;
}

/* Footer */
footer{
  justify-content: space-between;
  margin: 1rem 0;
}
footer p{
  margin-left: 1.5rem;
}
footer nav{
  margin-right: 0.5rem;
}
footer nav a{
  text-decoration: none;
  margin: 0 0.15rem;
}

/* Mobile */
.mobile{
  display: none;
}
@media screen and (max-width: 670px){
  /* Basic setup */
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  /* Header */
  .top-bar.mobile{
    display: flex;
  }

  /* Main */

  /* CTA */
  .cta{
    flex-direction: column;
  }
  .cta .featured{
    width: 100%;
    margin: 0;
  }
  .cta div{
    width: inherit;
    margin: 1rem 2rem;
    max-width: 100%;
  }
  .cta h1{
    margin-top: 0;
  }
  .cta p{
    margin: 1rem 0;
  }
  .cta .button{
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  /* Information */
  .main-info, section.items{
    margin-bottom: 0;
  }
  section.items, article.item img.mobile{
    width: 100%;
  }
  article.item:nth-child(2n+0), section.items{
    border: none 0 gray;
  }
  article.item{
    margin-bottom: 2rem;
  }
  article.item h3, article.item p, article.item a{
    margin: 0.5rem 1rem;
  }
  article.item h3{
    margin-top: 0.75rem;
  }

  /* Courses */
  .courses{
    background-color: #ffffff;
    border-top: solid 0.1rem lightgray;
    border-bottom: solid 0.1rem lightgray;
  }
  .course-list{
    margin: 1rem 1rem;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .course{
    max-width: 100%;
    background-color: lightgray;
    padding: 1rem 0 1.5rem 1rem;
    margin: 0.5rem 0;
  }
  .course h3{
    margin: 0;
    font-weight: 400;
  }
  /* Thesis */
.thesis{
  padding-bottom: 0;
}
  .thesis .featured{
    margin: 1rem 0 1.5rem 0;
    width: 100%;
  }
  .thesis-container{
    display: block;
  }
  /* Footer */
  footer p{
    font-size: 0.9rem;
  }
}
